@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.event-headWrapper{
  background-color: var(--headerBackground);
  background-image: url('/images/Gallery/breadcrumb.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.event-header{
  height: 50vh;
}

.event-title{
  font-family: 'Staatliches', cursive;
  font-size: 4.375rem;
  text-transform: uppercase;
  color: white;
}

.event-path{
  font-size: 0.9rem;
  color: white;
}

.event-title-path{
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
}

.event-path-trail{
  display: inline-block;
  border-bottom: 1px solid red;
  padding-bottom: 0.5px;
  cursor: pointer;
}

.main-content{
  font-family: 'Staatliches', cursive;
  min-height: 100vh;
  height: auto;
  width: 100%;
  background: linear-gradient(55deg, grey 0%, white 51%, white 85%);
  background-repeat: no-repeat;
  background-size: cover;
}

.content-wrap{
  padding: 2rem 10vw 2rem 10vw;
}

.poster img{
  border-style: solid;
  margin-top: 5rem;
  height: auto;
  max-width: 100%;
  border-radius: 25px;
  padding: 0.2vw 0.2vw 0.2vw 0.2vw;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  /* box-shadow: 5px 10px #888888;  animate this and add while hovering */
}

.event-description{
  margin: 4vw 0 0 2vw;
}

.event-description .title{
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--headerBackground);
  margin-bottom: 1vw;
}

.event-description .about{
  margin-top: 2vw;
}

.event-description .rating{
  margin-top: 2vw;
}

.gallery-wrapper{
  margin-top: 7vw;
}

.gallery-title{
  text-transform: uppercase;
  font-size: 2.25rem;
}

.footer{
  height: 10vw;
}

.mixed-gallery img{
  border-style: solid;
  height: auto;
  max-width: 100%;
  margin-top: 1vw;
}

.mixed-gallery img:hover{
  cursor: pointer;
  opacity: 0.7;
}

.design-card{
  font-family: 'Quicksand', sans-serif;
  background-color: white;
  border-radius: 25px;
  padding: 1vw 1vw 1vw 1vw;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  height: 100%;
}

.gallery-grid{
  margin: 0 4vw 0 4vw;
}

#sky{
  position: absolute;
  top: 50vh !important;
  min-height: 150vh !important;
}

@media screen and (max-width:990px){
  .design-card{
    padding: 20px 20px 20px 20px;
  }
  .poster img{
    margin-top: 4vw;
  }
}
