/* Container around content */
.card-container{
    padding: 10px 40px;
    padding-bottom:2.625rem;
    position: relative;
    background-color: transparent;
    width: 18.5rem;
  }
  
  /* Place the container to the right */
  .right {
    left: 16.125rem;
  }

  .left{
      right:20.5rem;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    background-color: transparent !important;
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* The actual content */
  .content {
    padding: 10px 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
/* 
  .content:hover{
      transition: 0.25s;
      transform: scale(1.2);
      height:max-content;
  } */

  /* Cards on the left */
  #card1{
      right:14rem;
  }

  #card3{
      right:14.25rem;
  }

  #card5{
      right:14.70rem;
  }

  #card7{
      right:15.125rem;
  }

  #card9{
      right:15.50rem;
  }

  /* Cards on the rgiht */

  #card2{
      left:15.15rem;
  }

  #card4{
      left:15.525rem;
  }

  #card6{
      left:16.075rem;
  }

  #card8{
      left:16.25rem;
  }

  #card10{
      left:16.80rem;
  }

  @media screen and (max-width:730px){
    .left::before{
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    #card1{
        left:0.75rem;
    }
    #card2{
        left:0.9rem;
    }
    #card3{
        left:1.2rem;
    }
    #card4{
        left:1.3rem;
    }
    #card5{
        left:1.5rem;
    }
    #card6{
        left:1.7rem;
    }
    #card7{
        left:1.9rem;
    }
    #card8{
        left:2.1rem;
    }
    #card9{
        left:2.3rem;
    }
    #card10{
        left:2.5rem;
    }
}