@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
  background-color: #343A40;
}

.carousel{
    height:100vh;
}

.about-home{
  background-color: var(--aboutBackground);
  background-image: url('/images/Gallery/breadcrumb.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:-27vw center;
}

.aboutHeadDiv{
    position: relative;
    font-size: 800%;
    text-shadow: red 4px 4px;
    font-family: 'Staatliches',cursive;
    padding: 2vh 0em 0em 0em;
    color : white

}

#image{
    background-image: url('./Stock_Concert.jpg');
     height: 30vw;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1em solid rgb(240, 234, 234);
  border-bottom: 4em solid rgb(236, 233, 233);
  border-radius: .25em;
  box-shadow: 1em 1em 2em .25em rgba(5, 5, 5, 0.9);
  margin: 2em auto;
  opacity: 0;
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  max-width: 600px;
  width: 90%;
  will-change: transform, opacity;
}

#image.is-visible{
  opacity:1;
  transform: rotateZ(-1deg);
}

.aboutTextDiv{

    position: relative;
    opacity: 0;
    color : white;
    /* font-size: 100%; */
    padding-top: 0%;
    transform: translate(-1000px,0px);
  transition: transform 1100ms .15s cubic-bezier(0,1.5,.3,1), opacity 700ms ease-in-out;
}



.aboutTextDiv.is-visible{
  opacity: 1;
  transform: translate(0px,0px);

}

.carouselDiv{
    position:absolute;
    height:100%;
    margin-left: auto;
    margin-right: auto;


}


.eventTextDiv{
    position: relative;
    top:55%;



}

.eventTitle{
    font-size: 1220%;
    color : white;
    font-weight: 800;
    transition: opacity 500ms ease-in-out , transform 500ms ease-in-out;
    font-family: 'Staatliches' , cursive;

}



.eventDesc{
    font-weight: 800;
    font-size: 140%;
    transition: opacity 500ms ease-in-out ;
    transition: opacity 500ms ease-in-out , transform 500ms ease-in-out;
    font-family: 'Bebas Neue', cursive;
}

.regBtn{
    position: absolute;
    left:39%;
    top:-50px;
    transition: all 500ms ease-in-out;
    border-radius: 100px;
    border : 2px white;
    border-style: solid;

}

.linBtn{
  position: absolute;
  left:42.5%;
  top:300px;
  transition: all 500ms ease-in-out;
  border-radius: 100px;
  border : 2px white;
  border-style: solid;

}

#lineupBut{
  height: 40px;
}

#regBtnText{
  font-family: 'Staatliches';
  font-weight: 600;
  color : white;


}

/*BUTTON CSS*/

/* .text-box {
  margin-left: 44vw;
  margin-top: 42vh;
} */

.evtbtn:link,
.evtbtn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: absolute;
}

.evtbtn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.evtbtn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white:hover {

  background-color:#eb120b;
  border-color: red;

}

.evtbtn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

/* .btn-white::after {
  background-color:#3589AD
}
*/
.evtbtn:hover::after {
  -webkit-transform: scaleX(1.9) scaleY(1.9);
          transform: scaleX(1.9) scaleY(1.9);
  opacity: 0;
  background-color: #df1a0f;
}

 .btn-animated {
  -webkit-animation: moveInBottom 5s ease-out;
          animation: moveInBottom 5s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/*BUTTON CSS END*/

#img1{
    background-image: url('../Home/Stock_Concert.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}


.awssld__bullets {
    position: absolute;
    bottom: 3px;
    z-index : 200;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }


.awssld__bullets button{
    background-color:white;
    border-radius: 50%;
    height: 10px;
    width:10px;

}

.awssld__bullets .awssld__bullets--active {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
            background-color:red;
        }

 .awssld__controls__arrow-left, .awssld__controls__arrow-right {
            width: 100%;
            height: 40px;
            position: relative;
            display: block;
            -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out 0.125s;
            transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out 0.125s;
            transition: transform 0.2s ease-out 0.125s, opacity 0.2s ease-out;
            transition: transform 0.2s ease-out 0.125s, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out 0.125s; }

 .awssld__controls__arrow-left:before, .awssld__controls__arrow-left:after, .awssld__controls__arrow-right:before, .awssld__controls__arrow-right:after {
                content: ' ';
                position: absolute;
                right: calc( 50% - ( 0.7071 * (var(--organic-arrow-height) + var(--organic-arrow-thickness)) ) / 2);
                height: 100%;
                border-radius: 100%;
                width: 5px;
                background-color: red;
                -webkit-transition: background-color 0.15s ease-out, -webkit-transform 0.15s ease-out;
                transition: background-color 0.15s ease-out, -webkit-transform 0.15s ease-out;
                transition: transform 0.15s ease-out, background-color 0.15s ease-out;
                transition: transform 0.15s ease-out, background-color 0.15s ease-out, -webkit-transform 0.15s ease-out; }

 .awssld__controls button:hover .awssld__controls__arrow-left:before {
     background-color:wheat;
    opacity: 1;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); }
  .awssld__controls button:hover .awssld__controls__arrow-left:after {
    background-color:wheat;
    opacity: 1;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg); }
  .awssld__controls button:hover .awssld__controls__arrow-right:before {
    background-color:wheat;
    opacity: 1;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg); }
  .awssld__controls button:hover .awssld__controls__arrow-right:after {
    background-color:wheat;
    opacity: 1;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); }

#img2{
    background-image: url('../Home/Stock_Guitar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#img3{
    background-image: url('../Home/Stock_Concert.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#img4{
    background-image: url('../Home/Stock_Guitar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.landingPageFooter{
    scroll-padding-top: inherit;
    background-color: #464641;
    position: relative;
    height: 55px;
}

#footer-note{
    margin: 0;
    position: absolute;
    top: 50%;
    text-align: center;
    text-transform: uppercase;
    text-overflow: clip;
    text-rendering: geometricPrecision;
    text-decoration-color: gray;
    text-align: center;
}

/*MODAL CSS*/


  .mainModal{
      background-image: url('../Home/recording_room.jpeg');
      background-size: cover;
      background-repeat: no-repeat;
  }

  .modalBack{
    background-image: url('../Home/Studio_Room.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }


  .modalTitle{
      font-weight: 800;
      color : white;
      padding-left: 5rem;
      font-family: 'Staatliches';
  }

  *,
:before,
:after {
  box-sizing: border-box;
}

.wrapper-home{
  display: block;
  flex-direction: row;
  width: 200vw;
  /* transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left; */
}

form {
    width: 320px;
    margin: 45px auto;
  }

  form h1 {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    color: #2196F3;
  }
  form h5 {
    text-align: center;
    text-transform: uppercase;
    color: #c6c6c6;
  }

  .group {
    position: relative;
    margin: 45px 0;
  }

  textarea {
    resize: none;
  }

  input, textarea {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}
input:focus,
textarea:focus {
  outline: none;
}

input::placeholder{
  color:transparent;
}

textarea::placeholder{
  color:transparent;
}

input:not(:placeholder-shown) ~label{
  top:-14px;
  font-size: 12px;
  color : rgb(250, 94, 21);
}

textarea:not(:placeholder-shown) ~label{
  top:-14px;
  font-size: 12px;
  color : rgb(250, 94, 21);
}

input:focus ~ label, input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: rgb(250, 94, 21);
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
}

input[type="password"] {
    letter-spacing: 0.3em;
  }

  label {
    color: #c6c6c6;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: 320px;
  }
  .bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: rgb(247, 76, 8);
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
    left: 0%;
  }

  #tickDiv{
    background-image: url('./Green-Tick-PNG-Picture.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity : 0%;
    transform: translate(0px,50px) scale(0.8);
    width:300px;
    height:300px;
    position: absolute;
    top:250px;
    left:120px;
    transition: opacity 600ms ease-in-out , transform 600ms ease-in-out;
  }

  #regSucc{
    position:relative;
    right:50px;
  }




  /*MODAL CSS END*/

 @media screen and (max-width:574px){

     #image{
         height: 400px;
    }

}

@media screen and (max-width:975px){


    /* .carousel{
        height:890px;
    } */

    

     .eventTextDiv{
        top:65%;
    }

     .eventTitle{
        font-size: 820%;

        font-weight: 800;
    }

    .eventDesc{
        font-weight: 800;
        font-size: 130%;
    }

    .aboutTextDiv{
      transition: opacity 500ms ease-in-out , transform 500ms ease-in-out;
      position: relative;
      font-size: 80%;
    }
    .regBtn{
      position: absolute;
      left:33.5%;
      top:-50px;
      transition: all 500ms ease-in-out;
    }

    .linBtn{
      position: absolute;
      left:38.7%;
      top:220px;
      transition: all 500ms ease-in-out;


    }
}

@media screen and (max-width:560px){

  /* .carousel{
    height:630px;
} */

    /* .eventTextDiv{
        top:400px;
    } */
    .awssld__bullets button{
        background-color:white;
        border-radius: 50%;
        height: 5px;
        width:5px;
    }

    .aboutTextDiv{
      transition: opacity 500ms ease-in-out , transform 500ms ease-in-out;
      position: relative;
      font-size: 80%;
    }

    .aboutHeadDiv{
      position: relative;
      font-size: 600%;

      padding: 2vh 0em 0em 0em;

  }
    /* .regBtn{
      position: absolute;
      left:30%;
      top:-50px;
      transition: all 500ms ease-in-out;
    }

    .linBtn{
      position: absolute;
      left:30%;
      top:180px;
      transition: all 500ms ease-in-out;


    } */
}

@media screen and (max-width:480px){


    /* .eventTextDiv{
        top:320px;
    } */

    #tickDiv{
      width:150px;
      height:200px;
    }

    .aboutTextDiv{
      transition: opacity 500ms ease-in-out , transform 500ms ease-in-out;
      position: relative;
      font-size: 80%;
    }

    .eventTitle{
        font-size: 420%;

        font-weight: 800;
    }

    .eventDesc{
        font-weight: 800;
        font-size: 80%;
    }

    #regBtnText{
      font-size: 90%;
    }



    .aboutHeadDiv{
      position: relative;
      font-size: 500%;

      padding: 2vh 0em 0em 0em;

    }
    .regBtn{
      position: absolute;
      left:23%;
      top:-50px;
      transition: all 500ms ease-in-out;
    }

    .linBtn{
      position: absolute;
      left:32.5%;
      top:140px;
      transition: all 500ms ease-in-out;
    }

    /* #lineupBut{
      height: 35px;
    } */
}
